<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grit Space - Page Not Found</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>grit:space</h1>
        </header>
        <main>
            <section class="error-box">
                <h2>404 </h2>
                <h3>Page Not Found</h3>
                <p>&nbsp;</p> <!-- Add this line to create space -->
                <p>Oops! This page got lost in space.</p>
                <p>But hey, we're all developers here. Want to help out? It's open source!</p>
                <button class="home-btn" onclick="window.location.href='index.html'">Return to Home</button>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 grit:space. All rights reserved | Privacy Policy</p>
        </footer>
    </div>
</body>
</html>
